@import url('./node_modules/@fortawesome/fontawesome-free/css/all.min.css');

html, body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

:root {
  --c-bg: #222;
  --c-fg: #ddd;
  --c-act: lightskyblue;
}

body {
  background: var(--c-bg);
  color: var(--c-fg);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel {
  align-self: stretch;
  display: flex;
  gap: 1em;

  & > :not(.fas) { 
    flex: 1;
  }
}

div.panel {
  flex-direction: column;


}

input[type=submit], .panel, button {
  border: 2px solid orange;
  border-radius: 4px;
  padding: 1em;
  margin: 1em;
  background: none;
}

input[type=submit], button {
  margin-top: 5em;
  color: var(--c-act);
  border-color: var(--c-act);
  font-weight: bold;
  cursor: pointer;
}

.panel p {
  font-family: monospace;
}

